# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml
.vscode/

# Env
.env
.env.local
frontend/.env.local

# Logs
*.log

# Backend - Gradle
backend/.gradle/
backend/build/

# Frontend
frontend/node_modules/
frontend/.next/